@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap');

body { 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 300px;
    grid-gap: 12px;

    font-family: 'Noto Sans JP', sans-serif;

}

h1 { 
    font-size: 2em;
}

nav  {
    grid-column-start: 1;
    grid-column-end: 2;
    
    height: 100vh;
  
    // padding: 50px;
    

    // border: solid red;
    // background-color: navy;

    display: flex;
    flex-direction: column;
    // align-items: flex-start;

    .user { 
        display: none;
    }

    button { 
        padding: 12px 8px;
        border: solid 3px white;
        margin-bottom: 12px;
        // box-shadow: 3px 3px 0px black;
        // border-radius: 4px;
        // border: none;
        text-align: left;
        font-size: 1em;
        background-color: white;
        width: 100%;

        // &:first-of-type{
        //     background-color: rgb(232, 237, 237) !important;
        // }

        &:hover { 
            cursor: pointer;
            padding: 12px 8px;
            border: solid 3px;
            margin-bottom: 12px;
            box-shadow: 3px 3px 0px black;
            border-radius: 4px;
        }
    }
}


@media (max-width: 1053px) {
    main {         
        section { 
            display: grid;
            grid-template-columns: repeat(2, 1fr) !important;      
        }
    }
}




main  {
    grid-column-start: 2;
    grid-column-end: 6;
    
    height: 100vh;


    padding: 0 10%;
    // border: solid red;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    header { 
        margin: 12px;
    }

    section { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 400px;
        grid-gap: 12px;

        // overflow-y: scroll;
        .card { 
            border: solid black;
            border-radius: 4px;
            box-shadow: 3px 3px 0px black;
            margin: 12px;

            padding: 12px;

            display: flex;
            flex-direction: column;

            img { 
                width: 100%;
                height: 70%;
                // margin-top: ;
                background-color: rgb(67, 67, 67);
                border: none;
                border-radius: 4px;
                object-fit: cover;
                
            }
        }
    }
}


table { 
    width: 100%;
    border-collapse: collapse;
    th, td { 
        text-align: left;
    }
    th, td {
        border-bottom: 1px solid #ddd;        
        padding: 12px;
    }
    th {
        border-bottom: 2px solid black;
        padding-bottom: 5px;
    }


    button { 
        padding: 3px 4px;
        border: solid 3px;
        margin-bottom: 12px;
        box-shadow: 3px 3px 0px black;
        border-radius: 4px;
        font-size: 1em;
        background-color: white;
        width: 60%;    
        margin: 6px;
    }
    .action {
        display: flex;
        flex-direction: row;        
    }
}



aside  {
    grid-column-start: 6;
    grid-column-end: 7;

    // height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: solid red;
    button { 
        padding: 4px 8px;
        border: solid 3px;
        // margin-bottom: 12px;
        margin: 6px;
        box-shadow: 3px 3px 0px black;
        border-radius: 4px;
        font-size: 1em;
        background-color: white;
        // width: 100%;
    }

    .card { 
        padding: 4px 12px;
        border: solid 3px;
        // margin-bottom: 12px;
        margin: 6px;
        box-shadow: 3px 3px 0px black;
        border-radius: 4px;

        display: flex;
        flex-direction: row;
        align-items: center;
        img { 
            width: 70px;
            height: 70px;
            border-radius: 50px;
            object-fit: cover;
            margin-right: 10%;
        }
    }
}




@media (max-width: 901px) {
    // nav { 
    //     height: 60vh;
    // }
     body {
        display: grid;
        grid-template-rows: 200px !important;
    }
    main {
        padding: 5% !important;
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 2;
        min-height: 100vh;
        padding: 0 5% !important;

        section {
            display: none !important;
        }
    }    
    aside {
        padding: 5%;
        // border: solid red;
        height: 300px;
        grid-column-start: 2;
        grid-column-end: 7;         
        // height: 300px;
        .card { 
            display: none !important;
        }
    }
}

@media (max-width:768px) {
    body {
        display: grid;
        grid-template-rows: 100px !important;
    }
    nav { 
        grid-column-start: 1;
        grid-column-end: 7;        
        height: 100px !important;
        // border: solid red;

        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: 0 5%;
        .user { 
            display: block !important;
        }
        .menu{            
            display: none;        
        } 
    }
    main {
        grid-column-start: 1 !important;
        grid-column-end: 7 !important;
        min-height: 100vh;
        // grid-column-end: 4;
        // border: solid red;
        padding: 0 5% !important;

        // margin-top: 0px !important;
    }
    aside { 
        grid-column-start: 1;
        grid-column-end: 7;
        height: 300px;
        padding: 0 0 !important;
        // border: solid red;
        padding: 0 5% !important;

    }
}
